.hero_sec {
  width: 93%;
  margin: auto;
}

.heading {
  font-size: 30px;
  font-weight: bold;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 1.35rem;
}

.list li {
  list-style: disc;
}

.coloredPart {
  color: var(--second-color);
}
