.hero_sec {
  width: 92vw;
  margin: 0 auto;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.contact_info_container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.contact_info_container h1 {
  font-size: 1.75rem;
}

.contact-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.list {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgb(93, 93, 224);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info h3 {
  margin: 0;
  font-size: 1.25rem;
}

.info p {
  margin: 0;
  font-size: 1rem;
}

.contact-form {
  padding: 1.25rem;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(33, 33, 34, 0.9);
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
}

.contact-form h2 {
  font-size: 1.75rem;
}

.form {
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  display: block;
  color: var(--second-color);
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgb(20, 20, 20);
  color: white;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin: auto;
}

.form-group input.error,
.form-group textarea.error,
.form-group select.error {
  border-color: red;
}

.form-group input.error::placeholder,
.form-group textarea.error::placeholder,
.form-group select.error::placeholder {
  color: red;
}

.form-group input:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus,
.form-group input:-webkit-autofill:active,
.form-group select:-webkit-autofill,
.form-group select:-webkit-autofill:hover,
.form-group select:-webkit-autofill:focus,
.form-group select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgb(20, 20, 20) inset !important;
  -webkit-text-fill-color: white !important;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus,
.submitBtn:focus {
  /* outline: 1px solid var(--second-color); */
  outline: none;
}

.form-group textarea {
  resize: none;
  height: 100px;
}

.message {
  grid-column: 1 / -1;
}

.submitBtn {
  grid-column: 1/-1;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submitBtn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.notAllowed {
  cursor: not-allowed;
  background-color: rgb(20, 20, 20);
}

/* Tablet: 768px – 1023px */
@media (min-width: 768px) {
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .contact_info_container h1 {
    font-size: 2.25rem;
  }

  .info h3 {
    font-size: 1.5rem;
  }

  .info p {
    font-size: 1.15rem;
  }

  .contact-form {
    padding: 1.25rem;
    width: 45%;
    border-radius: 15px;
    background-color: rgba(33, 33, 34, 0.9);
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
  }

  .contact-form h2 {
    font-size: 2rem;
  }

  .contact_info_container {
    width: 55%;
  }

  .form {
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  }
}
