.hero_sec {
  width: 92vw;
  margin: 0 auto;
}

.heading {
  font-size: 1.7rem;
  font-weight: bold;
}

.intro {
  font-size: 1rem;
}

.coloredPart {
  color: var(--second-color);
}

/* Tablet: 768px – 1023px */
@media (min-width: 768px) {
  .heading {
    font-size: 2.2rem;
  }

  .intro {
    font-size: 1.8rem;
  }
}

/* Laptop/Desktop: 1024px – 1279px */
@media (min-width: 1024px) {
}

/* Large Desktop: 1280px+ */
@media (min-width: 1280px) {
}
