.hero_sec {
  width: 92vw;
  margin: auto;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.contact_info_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.contact-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(93, 93, 224);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info p {
  margin: 0;
  font-size: 1.15rem;
}

.contact-form {
  padding: 20px;
  width: 45%;
  border-radius: 15px;
  background-color: rgba(33, 33, 34, 0.9);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  display: block;
  color: var(--second-color);
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgb(20, 20, 20);
  color: white;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin: auto;
}

.form-group input.error,
.form-group textarea.error,
.form-group select.error {
  border-color: red;
}

.form-group input.error::placeholder,
.form-group textarea.error::placeholder,
.form-group select.error::placeholder {
  color: red;
}

.form-group input:-webkit-autofill,
.form-group input:-webkit-autofill:hover,
.form-group input:-webkit-autofill:focus,
.form-group input:-webkit-autofill:active,
.form-group select:-webkit-autofill,
.form-group select:-webkit-autofill:hover,
.form-group select:-webkit-autofill:focus,
.form-group select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgb(20, 20, 20) inset !important;
  -webkit-text-fill-color: white !important;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus,
.submitBtn:focus {
  /* outline: 1px solid var(--second-color); */
  outline: none;
}

.form-group textarea {
  resize: none;
  height: 100px;
}

.message {
  grid-column: 1 / -1;
}

.submitBtn {
  grid-column: 1/-1;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submitBtn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.notAllowed {
  cursor: not-allowed;
  background-color: rgb(20, 20, 20);
}
