.hero_sec {
  width: 93vw;
  margin: 0 auto;
}

.title {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.coloredPart {
  color: var(--second-color);
}

.intro_container {
  width: 100%;
}

.intro_container p {
  font-size: 1.55rem;
  color: var(--first-color-lighten);
}

.carousel_content {
  /* width: 100vw; */
  height: 60dvh;
  margin: 0 auto;
  background-color: var(--body-color);
}

.carousel_content p {
  /* text-align: center; */
  width: 90%;
  padding: 20px;
  font-size: 3em;
}

.solutions {
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.solution_sec_list {
  display: flex;
  flex-direction: column;
}

.solution_sec_list p {
  font-size: 2.2rem;
  color: var(--first-color-lighten);
  margin-bottom: 0.5em;
  font-weight: bold;
  color: var(--second-color);
}

.points {
  font-size: 2rem;
  color: var(--first-color-lighten);
  /* align-self: flex-start; */
}

.points li {
  margin-bottom: 20px;
  list-style: disc;
}

.points li:hover {
  color: var(--second-color);
}

.solution_sec_image {
  width: 50%;
  align-self: flex-start;
}

.project_link {
  color: var(--first-color-lighten);
}

.project_link:hover {
  color: var(--second-color);
}
