.carouselContainer {
}

.img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

:global(.carousel-control-prev-icon) {
  color: black;
}

/* Tablet: 768px – 1023px */
@media (min-width: 768px) {
  .img {
    width: 75%;
  }
}
