.card {
  min-height: 500px;
  width: 25%;
  border-radius: 10px;
  background-color: rgb(32, 31, 31);
}

.card img {
  width: 65%;
  margin: 0 auto;
}

.title_des {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 1rem;
  height: 55%;
}

.sub {
  text-align: center;
  color: var(--second-color);
}

.des {
  text-align: center;
  color: var(--first-color-lighten);
  font-size: 1.25rem;
}

.des:hover {
  color: var(--second-color);
}
