.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(47, 47, 48);
  padding: 0.6rem 0;
}

.footer_content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
