.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(13, 13, 14, 0.9);
  backdrop-filter: blur(40px);
  border-bottom: 1px solid rgb(47, 47, 48);
  z-index: var(--z-fixed);
}

.nav {
  width: 92vw;
  max-width: 1280px;
  height: 5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75rem;
  color: #cadcfc;
}

.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  color: white;
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}

.coloredPart {
  color: var(--second-color);
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  color: var(--first-color-lighten);
  font-weight: var(--font-semi-bold);
  padding: 0.6em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  color: var(--second-color);
}

.nav__div {
  color: var(--first-color-lighten);
  font-weight: var(--font-semi-bold);
  padding: 0.6em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__div:hover {
  color: var(--second-color);
  cursor: pointer;
}

.dropdown-arrow {
  transition: transform 0.3s ease;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.dropdown-arrow.close {
  transform: rotate(0deg);
}

.login_btn {
  background-color: black;
  color: var(--second-color);
  font-size: 1rem;
  padding: 0.5em 2em;
  border-radius: 6px;
  border: 1px solid var(--second-color);
}

.login_btn:hover {
  background-color: rgb(34, 33, 33);
  color: rgb(211, 186, 46);
}

.logout_btn {
  background-color: var(--second-color);
  color: black;
  font-size: 1rem;
  padding: 0.5em 2em;
  border-radius: 6px;
  border: none;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4em;
}

.contact_link {
  text-decoration: none;
  padding: 0.6em 1.25em;
  border-radius: 5px;
  color: var(--body-color);
  border: 1px solid var(--second-color);
  background-color: var(--second-color);
}

.contact_link:hover {
  color: var(--second-color);
  background-color: var(--body-color);
}

:global(.active) {
  color: var(--second-color);
}
